PORT_PARKING_LOT_FRONTEND=80
PORT_PARKING_LOT_BACKEND=8000
PORT_HUB_FRONTEND=81
PORT_HUB_BACKEND=8001

POSTGRES_DB=database
POSTGRES_USER=username
POSTGRES_PASSWORD=password

SECRET_KEY=secret-key
AES_KEY=00000000000000000000000000000000
HMAC_KEY=00000000000000000000000000000000

PARKING_LOT_FRONTEND_URL=frontend.url
PARKING_LOT_BACKEND_URL=backend.url
HUB_FRONTEND_URL=hub.frontend.url
HUB_BACKEND_URL=hub.backend.url

GHCR_USERNAME=your-github-username
GHCR_READ_PAT=your-ghcr-read-token

SERVER_HOST=server.url
SERVER_USER=username
SERVER_PORT=22
SERVER_SSH_KEY=your-ssh-private-key
SERVER_PASSWORD=password